@theme static {
  --color-pine-50: #e9f3ec;
  --color-pine-100: #a7d0b4;
  --color-pine-200: #91c4a1;
  --color-pine-300: #4fa169;
  --color-pine-400: #399556;
  --color-pine-500: #238943;
  --color-pine-600: #207b3c;
  --color-pine-700: #19602f;
  --color-pine-800: #124522;
  --color-pine-900: #0a2914;
  --color-pine-950: #030e07;

  --color-sunflower-50: #fffbea;
  --color-sunflower-100: #fff2c5;
  --color-sunflower-200: #ffe685;
  --color-sunflower-300: #ffd246;
  --color-sunflower-400: #ffbd1b;
  --color-sunflower-500: #f89500;
  --color-sunflower-600: #e27200;
  --color-sunflower-700: #bb4d02;
  --color-sunflower-800: #983b08;
  --color-sunflower-900: #7c310b;
  --color-sunflower-950: #481700;

  --color-sunset-50: #fae9ea;
  --color-sunset-100: #f1bebf;
  --color-sunset-200: #e89394;
  --color-sunset-300: #df6869;
  --color-sunset-400: #d63d3e;
  --color-sunset-500: #d12728;
  --color-sunset-600: #bc2324;
  --color-sunset-700: #921b1c;
  --color-sunset-800: #691414;
  --color-sunset-900: #3f0c0c;
  --color-sunset-950: #150404;

  --color-azure-50: #eff5ff;
  --color-azure-100: #dbe8fe;
  --color-azure-200: #bfd7fe;
  --color-azure-300: #93bbfd;
  --color-azure-400: #609afa;
  --color-azure-500: #3b82f6;
  --color-azure-600: #2570eb;
  --color-azure-700: #1d64d8;
  --color-azure-800: #1e55af;
  --color-azure-900: #1e478a;
  --color-azure-950: #172e54;

  --color-leaf-50: #f0fdf5;
  --color-leaf-100: #dcfce8;
  --color-leaf-200: #bbf7d1;
  --color-leaf-300: #86efad;
  --color-leaf-400: #4ade80;
  --color-leaf-500: #22c55e;
  --color-leaf-600: #16a34a;
  --color-leaf-700: #15803c;
  --color-leaf-800: #166533;
  --color-leaf-900: #14532b;
  --color-leaf-950: #052e14;

  --color-orange-50: #fff8eb;
  --color-orange-100: #feeac7;
  --color-orange-200: #fdd28a;
  --color-orange-300: #fcbb4d;
  --color-orange-400: #fbab24;
  --color-orange-500: #f59e0b;
  --color-orange-600: #d98b06;
  --color-orange-700: #b47409;
  --color-orange-800: #92610e;
  --color-orange-900: #78510f;
  --color-orange-950: #452c03;

  --color-coral-50: #fef2f2;
  --color-coral-100: #fee2e2;
  --color-coral-200: #fecaca;
  --color-coral-300: #fca5a5;
  --color-coral-400: #f87171;
  --color-coral-500: #ef4444;
  --color-coral-600: #dc2626;
  --color-coral-700: #b91c1c;
  --color-coral-800: #991b1b;
  --color-coral-900: #7f1d1d;
  --color-coral-950: #450a0a;

  --color-sepia-50: #fefde8;
  --color-sepia-100: #fdfac4;
  --color-sepia-200: #fcf18c;
  --color-sepia-300: #f9e34b;
  --color-sepia-400: #f6cf19;
  --color-sepia-500: #e6b70c;
  --color-sepia-600: #c68e08;
  --color-sepia-700: #9e650a;
  --color-sepia-800: #835010;
  --color-sepia-900: #704214;
  --color-sepia-950: #412207;

  --color-steel-50: #f6f7f9;
  --color-steel-100: #eceef2;
  --color-steel-200: #d5d9e2;
  --color-steel-300: #b1bbc8;
  --color-steel-400: #8695aa;
  --color-steel-500: #64748b;
  --color-steel-600: #526077;
  --color-steel-700: #434e61;
  --color-steel-800: #3a4252;
  --color-steel-900: #343a46;
  --color-steel-950: #23272e;

  --color-light-50: #ffffff;
  --color-light-100: #efefef;
  --color-light-200: #dcdcdc;
  --color-light-300: #bdbdbd;
  --color-light-400: #989898;
  --color-light-500: #7c7c7c;
  --color-light-600: #656565;
  --color-light-700: #525252;
  --color-light-800: #464646;
  --color-light-900: #3d3d3d;
  --color-light-950: #292929;

  --color-dark-50: #f6f6f6;
  --color-dark-100: #e7e7e7;
  --color-dark-200: #d1d1d1;
  --color-dark-300: #b0b0b0;
  --color-dark-400: #888888;
  --color-dark-500: #6d6d6d;
  --color-dark-600: #5d5d5d;
  --color-dark-700: #4f4f4f;
  --color-dark-800: #454545;
  --color-dark-900: #3d3d3d;
  --color-dark-950: #000000;
}
